<h3>
    @ViewData["Message"]
</h3>

<p>
    @ViewData["Message"]
</p>

<p>
   @ViewData["Message"]
</p>

<h3>Cities List</h3>
@if (ViewData["cities"] != null)
{
    <ol>
        @foreach(string item in (IEnumerable<string>)ViewData["cities"])
        {
            <li>
                @item
            </li>
        }
    </ol>
}